.itemContainer{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 45%;
    height: auto;
    margin: 10px;
    display: flex;
    align-items: center;
}

.itemImage{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.itemLabel{
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
}